.idea/
.vscode/
*/.vscode/
*/.idea/
*.sln
.vs/
*.txt
**/db.json
# Build results
LoadBalancer/[Dd]ebug/
LoadBalancer/[Rr]elease/
LoadBalancer/x64/
LoadBalancer/[Bb]in/
LoadBalancer/[Oo]bj/

LoadBalancer.Tests/[Dd]ebug/
LoadBalancer.Tests/[Rr]elease/
LoadBalancer.Tests/x64/
LoadBalancer.Tests/[Bb]in/
LoadBalancer.Tests/[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages
*.nupkg
